.DS_Store
/.build
/.dist
/Packages
/.ashex
/.esh
/scripts/.ashex/
/scripts/ashex.config.json
/.vscode
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
