.DS_Store
/.build
/Packages
/.ashex
/scripts/.ashex/
/scripts/ashex.config.json
/.vscode
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
